.photo-item {
  justify-items: baseline;
  /*overflow: hidden;*/
  border: 1px solid rgba(0, 0, 0, 0.1); /* borda suave */
  background-color: #58559B;
  grid-gap: 32px;
  gap: 12px;
  margin-top: 30px;
  padding: 10px 10px 40px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  border-radius: 20px;
}

.photo-item img {
  position: relative;
  width: 350px;
  height: 350px;
  object-fit:fill;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1); /*borda suave*/
  background-color: rgba(0, 128, 0, 0.1);
}

.photo-item h2 {
  margin-bottom: 0.2em;
  color: #FF6047;
}

.photo-author {
  text-align: left;
}

.photo-author a {
  font-weight: bold;
  color: #FF6047;
}
