#home {
  width: 90%;
  max-height: 90%;
  margin: 2em auto;
  padding-top: 2em;
  position: relative;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); /* fundo branco transparente */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* sombra suave */
  z-index: 1;
}

#home h1 {
  color: #58559B;
  font-size: 2em;
  margin: 0;
  padding: 0;
}

#home h2 {
  text-align: justify;
  font-size: 2em;
  margin: 0;
  padding: 0;
  color: #FF6047;
}

#home p {
  font-size:large;
  color: #363636;
  margin-bottom: 1.5em;
  margin-left: 2em;
  text-align: center;
}

#home p a {
  font-weight: bold;
  color: #00C9CC;
}

.btn {
  display: flex;
  width: 50%;
  text-align: center;
  justify-content: center;
  margin: 2em;
  background-color: #00C9CC;
}

#container-row img {
  position:absolute;
  bottom: 0;
  padding: 0;
  left: 0;
  width: 25%;
  /*transform: translateX(-50%);*/
  z-index: 1;
}

#container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-left: 2em;
}
#container-row p {
  margin: 2em;
  font-size:medium;
  text-align: center;
}

.div1 {
width: 90%;
}

#divContent{
  display: flex;
  overflow:auto;
  align-items: center;
  justify-content: center;
  z-index: -1;
 }

 #divContent img {
  position: fixed;
  bottom: 0;
  padding: -100px;
  left: 50%;
  width: 70%;
  transform: translateX(-50%);
  z-index: 0; 
 }

.no-photos {
  text-align: center;
}

.no-photos a {
  color: #00C9CC;
}